@{
    ViewData["Title"] = "404- Error Page";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Page not found.</h4>
            <a asp-controller="home" asp-action="index">Click here to return to the voting page</a>
        </div>
    </div>
</div>
    