@{
    ViewData["Title"] = "Error Page";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>There has been an problem loading the page</h2>
            <h2><a asp-controller="home" asp-action="index">Click here to try again</a></h2>
        </div>
    </div>
</div>
    